{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="d-flex justify-content-center align-items-center gap-5 mt-5">
  <div class="col-4">
    <img src="{{car.image.url}}" alt="" class="w-100">
  </div>
  <div class="col-6">
    <h3>{{car.name}}</h3>
    <h5>Price : {{car.price}}</h5>
    <h5>Price : {{car.quantity}}</h5>
    <h5>Brand : {{car.brand.name}}</h5>
    <p>{{car.description}}</p>
    <button class="btn btn-warning">Buy Now</button>
  </div>
</div>


<div class="card mt-2">
  <h5 class="p-3">Total Comments: {{ comments | length }}</h5>
  {% for comment in comments %}
  <div class="card-body border m-2">
    <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
    <p>{{comment.body}}</p>
    <p></p>
  </div>
  {% endfor %}
</div>

<div class="card">
  <div class="card-body">
    <form action="" class="w-50 m-auto" method="post">
      <h1 class="text-center my-4">Add Comment</h1>
      {% csrf_token %} {{comment_form | crispy}}
      <input class="btn btn-warning" type="submit" value="Submit" />
    </form>
  </div>
</div>

{% endblock content %}
