{% extends "base.html" %}
{% load static %}
{% block content %}

<div class=" d-flex justify-content-center align-items-center gap-4 mt-5">
    <div class="col-6 ms-2">
        <H1>AHM CAR HUB</H1>
        <p>AHM Car hub is your first Choice for buy a latest models Cars.Customer service is our first priority.So come and visit our office and choice your favourate car.We provide 6 month and 3 free service by best mecanic.</p>
        <button class="btn btn-info">Contact US</button>
    </div>
<div class="col-5">
    <img src="{% static '../static/images/banner-1.jpg' %}" alt="" class="w-100">
</div>
</div>

<div class=" d-flex justify-content-center align-items-center gap-4 mt-5">
  <h3 class="text-center">Our Bands</h3>
    {% for i in brand %}
    <a class="btn btn-warning text-decoration-none text-white" href="{% url 'brand' i.slug %}" >{{i.name}}</a>
    {% endfor %}
    
</div>

<div class=" p-3">
    <h4 class="text-center">Total Car Found : {{data | length}}</h4>
    <div class="d-flex flex-wrap px-5 my-5">
  {% for i in data %}
    <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card mx-3">
      <div class="card-body">
        <img src="{{i.image.url}}" class="card-img-top" alt="...">
        <h5 class="card-title"><a href="" class="text-decoration-none text-dark">{{i.name}}</a></h5>
        <p class="card-text">Price: {{i.price}}</p>
        <p class="card-text">Quantity: {{i.quantity}}</p>
        <p class="card-text">Brand: {{i.brand.name}}</p>
        <p class="card-text">{{i.description | truncatewords:10}}</p>
            <br>
            <a class="btn btn-primary btn-sm my-2" href="{% url 'car_detail' i.id %}">View Detail</a>
        
      </div>
    </div>
  </div>
  {% endfor %}
</div>
  </div>
{% endblock content %}