{% extends "base.html" %}
{% load static %}
{% block content %}

<div class=" d-flex justify-content-center align-items-center gap-4 mt-5">
    <div class="col-6 ms-2">
        <H1>AHM Car Hub</H1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ea? Eius id deserunt aliquam iste, quas totam ducimus neque, corporis tempora sunt illum! Dignissimos enim quod harum eveniet aliquid pariatur, ad accusantium blanditiis, provident voluptates aliquam nesciunt, dolorem at? Animi, iste voluptatem. Ipsam totam assumenda quibusdam fugiat, magnam explicabo dolores culpa rem? Totam quod iusto itaque accusantium! Minus, cum adipisci? Aspernatur ad, cumque aperiam a, sequi velit impedit vitae perferendis, molestiae saepe odio earum deserunt obcaecati eum sunt nemo laboriosam natus vero rem aut placeat dicta in. Est deleniti ea eveniet, aspernatur adipisci amet. Velit voluptate vitae accusamus laudantium facilis?</p>
    </div>
<div class="col-5">
    <img src="{% static '../static/images/car1.webp' %}" alt="" class="w-100">
</div>
</div>

<div class=" d-flex justify-content-center align-items-center gap-4 mt-5">
  <h3 class="text-center">Our Bands</h3>
    {% for i in brand %}
    <a class="btn btn-warning text-decoration-none text-white" href="{% url 'brand' i.slug %}" >{{i.name}}</a>
    {% endfor %}
    
</div>

<div class=" p-3">
    <h4 class="text-center">{{data | length}} Results Found</h4>
    <div class="d-flex flex-wrap px-5 my-5">
  {% for i in data %}
    <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card mx-3">
      <div class="card-body">
        <img src="{{i.image.url}}" class="card-img-top" alt="...">
        <h5 class="card-title"><a href="" class="text-decoration-none text-dark">{{i.name}}</a></h5>
        <p class="card-text">Price: {{i.price}}</p>
        <p class="card-text">Quantity: {{i.quantity}}</p>
        <p class="card-text">Brand: {{i.brand.name}}</p>
        <p class="card-text">{{i.description | truncatewords:10}}</p>
            <br>
            <a class="btn btn-primary btn-sm my-2" href="{% url 'car_detail' i.id %}">View Detail</a>
        
      </div>
    </div>
  </div>
  {% endfor %}
</div>
  </div>
{% endblock content %}