{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div>
  <h1 class="text-center my-3">Profile Page</h1>
  <div class="d-flex justify-content-center">
    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit your Profile</a>
  </div>
</div>

{% if data %}
  <div class="d-flex flex-wrap justify-content-center px-5 my-5">
  {% for i in data %}
    <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card mx-3">
      <div class="card-body">
        <img src="{{i.image.url}}" class="card-img-top" alt="...">
        <h5 class="card-title">{{i.name}}</h5>
        <p class="card-text">Price : {{i.price}}</p>
        <p>Quantity : {{i.quantity}}</p>
        <p>Brand : {{i.brand.name}} </p>
        <p class="card-text">{{i.description | truncatewords:10}}</p>
        <a class="btn btn-primary btn-sm my-2" href="{% url 'car_detail' i.id %}">View Detail</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<h1 class="text-danger text-center">No Previous Buy Items</h1>
{% endif %}

{% endblock content %}